.marker-label:hover {
  color: rgb(250, 250, 250) !important;
  background-color: tomato !important;
}

.marker-label-select {
  color: rgb(250, 250, 250) !important;
  background-color: tomato !important;
}

.right__project-id input {
  width: 100px;
  font-weight: 600;
}
.right__project-group input {
  width: 140px;
  font-weight: 600;
}
.right__project-name input {
  width: 250px;
  font-weight: 600;
}
.right__project-address input {
  width: 350px;
  font-weight: 600;
}
