.marker-label:hover {
  color: rgb(250, 250, 250) !important;
  background-color: tomato !important;
}

.marker-label-select {
  color: rgb(250, 250, 250) !important;
  background-color: tomato !important;
}

.marker-label-count {
  color: rgb(255, 0, 0) !important;
}

.marker-label-count:hover {
  color: rgb(250, 250, 250) !important;
  background-color: tomato !important;
}

.right__project-job-number input {
  width: 100px;
  font-weight: 600;
}
.right__project-group input {
  width: 140px;
  font-weight: 600;
}
.right__project-name input {
  width: 380px;
  font-weight: 600;
}
.right__project-address-label input {
  width: 380px;
  font-weight: 600;
}
.right__project-address input {
  width: 380px;
  font-weight: 600;
}

.right__project-distance input {
  width: 155px;
  font-weight: 600;
}

.right__project-pic input {
  width: 155px;
  font-weight: 600;
}
.right__project-director input {
  width: 155px;
  font-weight: 600;
}
.right__project-associate1 input {
  width: 155px;
  font-weight: 600;
}
.right__project-associate2 input {
  width: 155px;
  font-weight: 600;
}
.right__project-associate3 input {
  width: 155px;
  font-weight: 600;
}

.select-job-number {
  display: inline-block;
  height: 20px;
  width: 80px;
  color: #74646e;
  border: 1px solid #c8bfc4;
  border-radius: 4px;
  box-shadow: inset 1px 1px 2px #ddd8dc;
  background: #fff;
  font-size: medium;
}

.select-pic {
  display: inline-block;
  height: 25px;
  min-width: 200px;
  max-width: 230px;
  color: #74646e;
  border: 1px solid #c8bfc4;
  border-radius: 4px;
  box-shadow: inset 1px 1px 2px #ddd8dc;
  background: #fff;
  font-size: medium;
  margin-bottom: 20px;
}

.date-picker {
  width: 90px !important;
  margin-bottom: 50px !important;
}

.date-picker-display-none {
  width: 90px !important;
  margin-bottom: 50px !important;
}
